<div class="wht_background">
<div class="page-header">
	
	<div>
		<p  class="profile_img">
      <%=  image_tag @user.gravatar_url %>
  </p>
     </div>
	<h1><%= @user.full_name %></h2>
</div>

<% if signed_in? %>

<% end %>

<% if @statuses %>
	<% @statuses.each do |status| %>
		<div class="well">
			<%= status.content %>
			<hr />
			<div class="time">
			<%=  time_ago_in_words(status.created_at) + " ago" %>
		</div>
		</div>
	<% end %>
<% end %>
</div>