
<div class="row">
	<div class="span4">
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "well"}) do |f| %>
	 
	 	<fieldset>
	 		<legend>Log In</legend>
	 		<%= f.input :email %>
	 		<%= f.input :password %>

	  		

	  		<div><%= f.button :submit, "Sign in" %></div>
		</fieldset>
	<% end %>

	
</div>
	<div class=" wht_background4">
		<h4 class="header4">Logging in is easy and secure</h4>
		<p class="welcome-text3">Do not forget to set up your profile picture at <a href="http://www.gravatar.com" target="_blank">GRAVATAR.COM</a>. When you use Gravatar to set up your profile image it will follow you from site to site appearing beside your name on many well known websites.</p>
	</div>
</div>
