/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {

   

}

body {
  
  display:block;
 background-image:url(/assets/sky4.jpg);
  background-size: cover;
  background-repeat:no-repeat;
	padding-top:140px;
background-color:#3366ff;
}

.alert {

	margin-top: 10px;

}
.all_status{

  margin-left:25px;

}
.welcome_logo {

    z-index:5000;
    position:relative;
    overflow:hidden;
   margin-top:-50px;
   	text-decoration: none;
  	display:block;
  	float:left; 	
    -webkit-box-shadow:  1px 1px 4px 2px #333; 
        box-shadow:  1px 1px 4px 2px #333;
}

.wht_background2{
  width:440px;
  margin-right:150px;
 float:right;
  background-image:url(/assets/debut_light.png);
  background-repeat:repeat;
-webkit-box-shadow:  1px 1px 4px 2px #333;
        
        box-shadow:  1px 1px 4px 2px #333;


  border-radius:10px;
  padding:10px;

}

.wht_background3 {

   width:400px;
  

  background-image:url(/assets/debut_light.png);
  background-repeat:repeat;
-webkit-box-shadow:  1px 1px 4px 2px #333;
        
        box-shadow:  1px 1px 4px 2px #333;


  border-radius:10px;
  padding:10px;

}

.wht_background4 {

   width:400px;
  margin-right:190px;
float:right;
 background-image:url(/assets/debut_light.png);
  background-repeat:repeat;
-webkit-box-shadow:  1px 1px 4px 2px #333;
        
        box-shadow:  1px 1px 4px 2px #333;


  border-radius:10px;
  padding:10px;

}

.header4 {
  font-family:verdana;
  font-size:21px;
  display:block;
  line-height:40px;
  font-weight: 100;
}